.footer {
    background-color: black;
    color: white;

    &__logo{
        filter: invert(1);
        width: 25%;
        padding: 20px;
    }

    &__list{
        li {
            padding: 0px 20px 10px 20px;

            .fa-utensils{
                padding-right: 15px;
            }

            .fa-handshake-simple{
                padding-right: 15px;
            }
        }

        a {
          text-decoration: none;  
          color: white;
        }
    }
}