.primary-button {

    padding: 20px;
    border-radius: 30px;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
        box-shadow: 0px 10px 14px -5px rgb(0 0 0 / 30%);
    }

    @include primary-button-radient-colour;
}

.function-button {
    position: relative;
    width: 85%;
    max-width: 280px;
    min-width: 225px;
    text-align: right;
    padding: 25px;
    border-radius: 14px;
    border: none;
    -webkit-box-shadow: 8px 8px 12px #E6E1E1;
    box-shadow: 8px 8px 12px #E6E1E1;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: #f5edff;

        >i.fa-icone {
            color: $color-primary !important;
        }

    }

}

.promo-button {
    background-color: $color-third;
    padding: 7px;


}

.choice-button {
    width: 90%;
    height: 85px;
    background-color: white;
    border-radius: 20px;
    border: none;
    
    
    }


.container-check {
    flex: 0;
    background-color: #99E2D0;
    border-radius: 0 20px 20px 0;
    width: 70px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition-duration: 500ms;
    cursor: pointer;

    &:hover {
        opacity: 1;
        flex: 25%;
        transform: translateX(0px);
    }

}

.fa-circle-check {
    font-size: 40px;
    background-color: white;
    color: #99E2D0;
    border-radius: 50%;
   

    &:hover {
        transform: rotate(360deg);
        transition: transform 700ms;
    }


}