.primary-button{
    
    padding: 20px;
    border-radius: 30px;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    &:hover{
        opacity: 0.75;
        box-shadow: 0px 10px 14px -5px rgb(0 0 0 / 30%);
    }

   @include primary-button-radient-colour;
}

.function-button{
    width: 90%;
    padding: 25px;
    border-radius: 14px;
    border: none;
    -webkit-box-shadow: 8px 8px 12px #E6E1E1;
    box-shadow: 8px 8px 12px #E6E1E1; 
    cursor: pointer;
    &:hover{
        background-color: #f5edff;
    }

   
    }
      

.promo-button{
    background-color: $color-third;
    padding: 7px;
    
    
}

.choice-button{
    width: 90%;
    background-color: white;
    border-radius: 20px;
    border: none;
}