.heart {
  cursor: pointer;
  position: relative;
  font-size: 40px;

  :nth-child(2) {
    color: transparent;
  }

  & :hover {
    color: $color-secondary;
    transition: all 550ms ease-in-out;
    transition-duration: 500ms;
    padding: 0px;

  }
}


.fa-heart {
  position: absolute;
  bottom: 25px;
  right: 20px;



}