.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color:$color-background;
    animation: loader 0.03s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    z-index: 1;
    display:flex;
    align-items:center;
    justify-content:center;}
   
    .loader__container{
        height: 250px;
        width: 250px;
        border: 10px solid transparent;
        border-radius: 50%;
        animation: loader 3s;
        animation-iteration-count: 1;
        animation-duration: 2500ms;
        z-index: -1;}
    
    
 


