*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}

html {
    
    }

body {
    max-width: 1400px;
    min-width: 400px;
    margin: auto;
    font-family: roboto;
    
    
    }

    
    
 
    