
.research-restaurants {
    background-color: rgb(245, 245, 243);
    padding-bottom: 20px;

    &__title {
        text-align: center;
        margin: 0px 40px 10px 40px;
        padding-top: 20px;
        font-size: 27px;
    }

    &__subtitle {
        font-weight: 200;
        text-align: center;
        padding: 2% 10% 2% 10%;
    }

    &__button {
        margin: 5% 20% 5% 20%;
        font-size: 14px;

        @media screen and (min-width: map-get($breakpoints, sm)) {
            font-size: 18px;
        }

        @media screen and (min-width: map-get($breakpoints, md)) {
            font-size: 20px;
        }

        @media screen and (min-width: map-get($breakpoints, lg)) {
            font-size: 22px;
        }
    }

}

.section-1 {
    flex-wrap: wrap;
    @media screen and (min-width: map-get($breakpoints, sm)) {
        display: flex;
        flex-direction: row;
        
    }

    &__second-title {
        margin: 40px 30px 30px 20px;
        width: 80%;


    }

    .function-1 {
        display: flex;
        justify-content: center;



        i.fa-mobile-screen-button {
            @include symbole-accueil;

           
        }

        i.fa-1 {
            @include number-accueil;

        }



        i.fa-list-ul {
            @include symbole-accueil;

            
        }

        i.fa-2 {
            @include number-accueil;

        }

        i.fa-store {
            @include symbole-accueil;

            
        }

        i.fa-3 {
            @include number-accueil;

        }

        &__button {
            margin: 20px 10px 20px 30px;



        }



        
    }

}


.section-2 {
    background-color: rgb(245, 245, 243);
    margin: auto;

    &__second-title {
        margin: 40px 30px 30px 20px;
        padding-top: 50px;

    }

    .the-cards {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: map-get($breakpoints, sm)) {
            flex-direction: row;

        }
    }

    .heart {

        font-size: 30px;

        @media screen and (min-width: map-get($breakpoints, sm)) {
            font-size: 18px;

        }

        @media screen and (min-width: map-get($breakpoints, md)) {
            font-size: 25px;

        }

        @media screen and (min-width: map-get($breakpoints, lg)) {
            font-size: 30px;

        }
    }

    .fa-heart {
        position: absolute;
        bottom: 25px;
        right: 20px;


        @media screen and (min-width: map-get($breakpoints, sm)) {
            bottom: 20px;

        }

    }


}