.header {

    .fa-arrow-left {
        position: absolute;
        top: 27px;
        left: 20px;
        font-weight: bold;
    }


}

.Menus {
    background-color: rgb(245, 245, 243);
    border-radius: 20px 20px 0 0;
    top: -45px;

    .subheader {
        &__pic {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }

    .subheader_menus {
        border-top-left-radius: 40px 40px;
        border-top-right-radius: 40px 40px;
        transform: translateY(-75px);
        margin-bottom: -80px;
        background-color: #f6f6f6;
        font-family: shrikhand, cursive;
        font-size: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__title {
            font-family: Shrikhand;
            padding-left: 20px;

        }

    }
}

.Menu-restaurants{
    @media screen and (min-width: map-get($breakpoints, md)) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.Menu__entrees {

    @include second-title;
}


.Menu__plats {

    @include second-title;

}

.Menu__desserts {

    @include second-title;
}



.all-section-menu-entrees {
    display: flex;
    flex-direction: column;
    margin-left: 2%;

    @media screen and (min-width: map-get($breakpoints, md)) {
        flex-direction: row;
    }

}

.all-section-menu-plats {
    display: flex;
    flex-direction: column;
    margin-left: 2%;

    @media screen and (min-width: map-get($breakpoints, md)) {
        flex-direction: row;
    }
}

.all-section-menu-desserts {
    display: flex;
    flex-direction: column;
    margin-left: 2%;

    @media screen and (min-width: map-get($breakpoints, md)) {
        flex-direction: row;
    }
}
.menu__bouton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    @include move-animation;

    .allmenus {
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
        width: 100%;

    }
    .menu-paragraphe {

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .p1 {
        font-weight: bold;
        padding: 4% 0 2% 0;
        font-size: 18px;
    }

    .p2 {
        padding: 0 0 2% 0;
        font-size: 15px;
       
    }
    .menu__byline {
        align-items: flex-end;
        display: flex;


        .price {
            display: inline-block;
        }

    }
}

.menu__button__plats {

    animation-delay: 300ms;

    
}

.menu__button__desserts {
    
    animation-delay: 600ms;

}

.Menus__button {
    margin: 10% 50% 10% 20%;
    width: 50%;
}

.fa-check {
    padding-left: 2px;
}