.header {

    .fa-arrow-left {
        position: absolute;
        top: 27px;
        left: 20px;
        font-weight: bold;
    }

    &__pic {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

.Menus {
    background-color: rgb(245, 245, 243);

    .fa-heart{
        position: absolute;
        left: 84%;
        font-size: 27px;
        bottom: 44%;
        
    }
   

    &__title {
        font-family: Shrikhand;
        margin: 0;
        position: absolute;
        top: 44%;
        border-radius: 30px 30px 0px 0px;
        padding-top: 5%;
        padding-left: 3%;
        width:97%;
        background-color: rgb(245, 245, 243);


    }

    .Menu{

        &__second-title{
            position: relative;
            padding:15% 0 6% 3%;
        }
    }

    .menu__button{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;

       .menu-paragraphe{
            padding-left: 3%;
            display: flex;
            flex-direction: column;
        }

        .p1{
            font-weight: bold;
            padding: 4% 0 2% 0;
            font-size: 18px;
        }

        .p2{
            padding: 0 0 2% 0;
            font-size: 15px;
        }

        .menu__byline{
            
            flex-direction: row;

            .price{
                padding: 30px 15px 0 0;
            }
        }
    }

    .Menus__button{
        margin: 10% 50% 10% 20%;
       width: 50%;
    }
    
    .fa-check{
        padding-left: 2px;
    }
}