.header {

    .fa-arrow-left {
        position: absolute;
        top: 27px;
        left: 20px;
        font-weight: bold;
    }


}

.Menus {
    background-color: rgb(245, 245, 243);
    border-radius: 20px 20px 0 0;
    top: -45px;

    .subheader {
        &__pic {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }

    .subheader_menus {
        border-top-left-radius: 40px 40px;
        border-top-right-radius: 40px 40px;
        transform: translateY(-75px);
        margin-bottom: -80px;
        background-color: #f6f6f6;
        font-family: shrikhand, cursive;
        font-size: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__title {
            font-family: Shrikhand;
            padding-left: 20px;

        }

    }
}

.Menu-restaurants{
    @media screen and (min-width: map-get($breakpoints, md)) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.Menu-choix__second-title{
   
    padding: 20px;
   
   &::after {
        content: "";
        display: block;
        background-color: #99E2D0;
        width: 30px;
        height: 3px;
        margin-top: 5px;
  
     }
}
    

.all-section-Menus{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__button{
    min-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 20px 0;
    overflow: hidden;
    

    
    .allmenus {
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
        width: 80%;
       
    }
    .menu-paragraphe {

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
       
    }
    .p1 {
        font-weight: bold;
        padding: 4% 0 2% 0;
        font-size: 15px;
        
        @include cut-word
        
        
    }

    .p2 {
        padding: 0 0 2% 0;
        font-size: 12px;
        
        @include cut-word
    }
    .menu__byline {
        align-items: flex-end;
        display: flex;
        flex:0;


        .price {
            display: inline-block;
        }

    }
}
.menu__button__entrees{
    &__1
    {
        @include appear-menus;

    }
    &__2
    {
        @include appear-menus;
        animation-delay: 1s;
    }
    &__3
    {
        @include appear-menus;
        animation-delay: 1.5s;
    }
}
.menu__button__plats {
  
    &__1
    {
        @include appear-menus;
        animation-delay: 2s;
    }
    &__2
    {
        @include appear-menus;
        animation-delay: 2.5s;
    }
    &__3
    {
        @include appear-menus;
        animation-delay: 3s;
    }

    
}

.menu__button__desserts {
  
    &__1
    {
        @include appear-menus;
        animation-delay: 3.5s;
    }
    &__2
    {
        @include appear-menus;
        animation-delay: 4s;
    }
    &__3
    {
        @include appear-menus;
        animation-delay: 4.5s;
    }

}
.action-resto-button{
    text-align: center;
}
.Menus__button {
    margin: 30px 0px;
    width: 50%;
}

.fa-check {
    padding-left: 2px;
    
}