@mixin primary-button-radient-colour {
   background: linear-gradient(#FF79DA, #9356DC)
}

@mixin symbole-accueil {
   font-size: 20px;
   position: absolute;
   padding-left: 77px;
   padding-top: 43px;
   color: grey;
}

@mixin number-accueil {
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background-color:$color-primary;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12px;
   left: -10px;
   position: absolute;
   margin-top: 40px;
   margin-left: 30px;
 
}

