@mixin primary-button-radient-colour {
   background: linear-gradient(#FF79DA, #9356DC)
}

@mixin symbole-accueil {
   font-size: 20px;
   position: absolute;
   left: 39px;
   color: grey;

  
}


@mixin number-accueil {
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background-color: $color-primary;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12px;
   left: -10px;
   position: absolute;

  

}
@mixin appear-menus {
   animation-name: appear;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
}
@mixin cut-word {
   white-space:nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}




